body {
    background: linear-gradient(90deg, #D9AFD9, #97D9E1);
    font-family: "Roboto Mono", monospace;
}

.container {
    margin-top: 200px;
}

img {
    width: 60px;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: linear-gradient(90deg, #D9AFD9, #97D9E1);
}